<div class="user-dashboard-search-cntr">
    <h2 class="user-dashboard-title">All Articles by {{user.name}}</h2>
    <searchbar [articles]="listArticles"></searchbar>
</div>
<div class="main-user-dashboard-cntr" fxLayout="row">
  <div class="user-dashboard-cntr" fxLayout="column">
    <div class="list-cntr" fxLayout="column" fxLayoutGap="32px">
      <div class="cntr" *ngFor="let article of listArticles">
        <article-card class="article-document" [article]="article"></article-card>
      </div>
    </div>
  </div>
  <div class="sidebar-user-dashboard-cntr" fxLayout="column">
    <div class="sidebar-cntr">
        <div class="sidebar-cntr-margins">
            <sidebar [cardContents]="userDashboardCards"></sidebar>
        </div>
    </div>
  </div>
</div>